myduman(Sheet1).csv
myduman.xlsx
venv
data_quality.log
__pycache__/data_quality_framework.cpython-312.pyc
__pycache__
.DS_Store
output
spark_truba.egg-info/PKG-INFO
spark_truba.egg-info/requires.txt
data_quality.log
checkpoints
.vscode
model_cache
